<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <title>Group Player</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="http://bootswatch.com/spacelab/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

</head>

<body ng-app="groupPlayer" ng-controller="Player">
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Group Player</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
  <div class="container">
    <div class="row">
      <div id="player"></div>
    </div>
    <div class="row">
      <input type='text' ng-model="newItem" placeholder='Add new web page link'>
      <button type="button" ng-click="addVideo()" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
      <table class="table-bordered">
        <tr ng-repeat="(key, video) in playlist">
          <td>
            <button type="button" ng-click="removeVideo(key)" class="btn btn-danger">
              <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
          </td>
          <td>
            {{ $index }}
          </td>
          <td>
            {{ video }}
          </td>
        </tr>
      </table>
    </div>
  </div> <!-- /container -->

  <script src="//www.youtube.com/player_api"></script>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src='//cdn.firebase.com/v0/firebase.js'></script>
  <script src='//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
  <script>
    var groupPlayer = angular.module('groupPlayer', ['firebase']);
    groupPlayer.controller('Player', function ($scope, angularFire) {
      $scope.playlist = [];
      var fireplay = new Firebase("https://groupplayer.firebaseio.com/");
      angularFire(fireplay.limit(100), $scope, "playlist");
      
      $scope.addVideo = function() {
        if ($scope.newItem) {
          $scope.playlist[fireplay.push().name()] = $scope.newItem;
          $scope.newItem = "";
        }
      }
      
      $scope.removeVideo = function(key) {
        delete $scope.playlist[key];
      }
    });
    
    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          videoId: 'a1Y73sPHKxw',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
        //event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            alert('done');
        }
    }
  </script>

</body>
</html>